
extends base

block content
    main.main
        include _search
        .card-container

            each listing in listings
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/${listing.itemimage}` , alt='error')
                        h3.heading-tertirary
                            span  #{listing.name}
                    .card__footer
                        p
                        a.btn.btn--green.btn--small(href=`/product/${listing.productid}`) See More
                        span.card__footer-value $ #{listing.price}