header.header
    
    nav.nav.nav--tours
        if !employee
            a.nav__el(href='/') All Products
        

    .header__logo
        img(src='/img/Logo.png' alt="Logo")
        

    nav.nav.nav--user
        if employee
            a.nav__el(href='/employee-dashboard') #{employee.firstname}'s Dashboard
            a.nav__el(href='/logout') Logout
        
        else if user
            a.nav__el(href='/mycart') My Cart
            a.nav__el(href='/account') #{user.firstname}'s Account
            a.nav__el(href='/logout') Logout


        else
            a.nav__el(href='/login') Log in
            a.nav__el.nav__el--cta(href='/signup')  Sign Up
        